@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 2000px;
    align-items: center;
    flex-direction: center;
    justify-content: center;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.nome {
    display: flex;
    align-items: center;
    color: rgb(96, 96, 96);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #53565a;
    font-family: 'Courier New', Courier, monospace;
}
.fixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: block;
    float: left;
}
nav ul, 
nav li {
    list-style: none;
    margin: 0;
    padding:0;
}
nav ul {
    display: flex;
    align-items: center;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(188, 188, 188);
}
nav a:hover {
    color: black;
    font-weight: bold;
    transition: 0.5s;
    
}

.banner {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 235, 235);
    background-position: center;
    background-size: cover;
    height: 500px; /*altura falsa só pra aparecer imagem*/
}
.column {
    flex-direction: column;
    background-color: rgb(63, 63, 206);
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    width: 300;
}
footer{
    width: 100%;
    background-color: aliceblue;
    bottom: 0;
    left: 0;
}
footer p {
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

projetos-home{}