@charset "UTF-8";

@font-face {
    font-family: 'Light';
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

* {
    font-family: 'Thin', 'Light', 'Regular';
}

/* Resetando o user agent stylesheet no chrome */
body {
    margin: 0px;
}
.cabecalho {
    position: fixed;
    width: 100%;
}
.conteudo-cabecalho {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #ffffff;
}

.conteudo-cabecalho-logo {
    display: flex;
    border-left: 20px;
    background-color: rgb(255, 255, 255);
}

.conteudo-cabecalho-nome {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #53565a;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

.nome * {
    margin: 0;
}

.conteudo-menu {
    width: 100%;
    display: flex;
    background-color: #53565a;
}

.conteudo-menu ul,
.conteudo-menu li {
    list-style: none;
    background-color: #53565a;
    display: flex;
    margin: auto;
    max-width: 100%;
    padding-left: 60px;
}

.conteudo-menu a {
    padding: 10px;
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.conteudo-menu a:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.secao-vazia{
    min-height: 180px;
}

.secao-projetos {
    background-color: rgb(248, 248, 248);
    padding: 10px;
}

.secao-projetos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.link-projetos-home {
    max-width: 40%;
    margin: 10px;
}

.link-projetos-home-tag {
    background-color: #53565a;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.link-projetos-home-imagem {
    max-width: 90%;

	transition: .3s ease-in-out;
}

.link-projetos-home-imagem:hover{
    opacity: .5;
}

.secao-sobre-mim {
    display: flex;
    justify-content: center;
}

#texto-sobre-mim {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    margin: 20px;
}

#imagem-sobre-mim img {

    width: 300px;
    height: 300px;
    margin: 20px;
}

.rodape {
    background-color: #53565a;
    padding: 10px;
    font-size: 10px;
    color: rgb(192, 192, 192);
}
.rodape h3, h6 {
    margin: 0;   
}
.rodape #desenvolvido-por{
    text-align: center;
    font-size: 10px;
}

/*Página Sobre mim --------------------------------------*/
.configuracoes-paginas {
    padding: 80px;
    background-color: rgb(248, 248, 248);
}

/*Página Projetos --------------------------------------*/
.area-projetos {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

.projetos {
    display: block;
    margin: 3px;
    width: 500px;
    height: 400px;
    background-color: #d2d2d2;
}

.img{
    width: 498px;
    height: 398px;
}

/*Teste formulário -----------------------*/
form {
    background-color: #f8f8f8;
    max-width: 500px;
}

.teste-nome-formulario {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000000;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 15px #d2d2d2;
    background-color: rgb(248, 248, 248);
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #53565a;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: rgb(255, 255, 255);
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

